.logo {
	background-image: url(../public/logo.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

.mini_logo {
	background-image: url(../public/logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	right: 24px;
	top: 24px;
	cursor: pointer;
}
